body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .01em;
}

h1, h2, h3, h4, #hero {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    letter-spacing: -0.04em;
}

#title {
    margin-top: 30px;
}

h1 {
    margin-top: 0;
    font-size: 30px;
}

#hero {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

a {
    border-bottom: 1px solid;
}

#hero a {
    border-bottom: 1px dashed;
}

/* Disable bootstrap link underlining */
a:hover, a:focus {
    text-decoration: none;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.inline-title {
    display: inline-block;
}

.hr {
    margin-top: 30px;
    margin-bottom: 10px;
}

#captcha {
    position: relative;
    height: 50px;
}

#captcha .frame {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#captcha .decoded {
    font-family: monospace;
}

.review {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #f9f9f9;
}

.hanging-quote {
    margin-left: -0.7em;
}

#facts {
    height: 100px;
    font-family: sans-serif;    
    font-size: 12px;
}

#facts .decoded {
    font-family: monospace;
    white-space: pre;
}

.fact1, .fact2, .fact3, .fact4  {
    padding-top: 2px;
    padding-bottom: 2px;
}

.fact1 {
    background: #f0f4c3;
}

.fact2 {
    background: #bbdefb;
}

.fact3 {
    background: #f8bbd0;
}

.fact4 {
    background: #e1bee7;
}

#ocr img {
    display: block;
    max-width: 100%;
    height: auto;
}

#ocr table {
    width: 100%;
    font-family: sans-serif;
    font-size: 12px;
}

#ocr table td {
    padding: 2px;
}

#avatar img {
    height: 50px;
    margin: 2px;
}

#plots {
    margin-top: 10px;
}

.img-responsive{
    /* http://stackoverflow.com/questions/18846744/responsive-images-in-tables-bootstrap-3 */
    width:100%;
}

#plots td {
    width: 50%;
}

#map-graph {
    background: black;
    color: white;
    margin-top: 20px;
}

#d3 {
    margin-top: 10px;
}

#clients img {
    height: 150px;
    margin: 20px;
}

#footer {
    margin-bottom: 20px;
}

#copy {
    font-size: 12px;
    color: #777;
}
