body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .01em;
}

div.container {
    margin-top: 2em;
}

.hanging-arrow {
    margin-left: -1em;
}

h1, #intro, .date, figcaption {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.04em;
    margin-top: 0;
}

#intro, .date, figcaption {
    color: #777;
}

#home, .date, figcaption {
    font-size: 14px;
}

#intro {
    font-size: 26px;
    margin-bottom: 0.75em;
}

figcaption {
    text-align: center;
    line-height: 1.5;
}

p.section {
    margin-top: 2em;
}

a {
    border-bottom: 1px solid;
}

/* Disable bootstrap link underlining */
a:hover, a:focus {
    text-decoration: none;
}

#footer, .ya-share2 {
    margin-bottom: 1em;
    text-align: center;
}

.ya-share2 a {
    border-bottom: none;
}

#share {
    margin-top: 2em;
}
